<%= flash_messages %>

<h3><%= @lot.name %> <%='(Disabled)' unless @lot.enabled? %> </h3>
<p>
  <%= @lot.designation_to_s %>
</p>

<p>
Size: <%= pluralize(@total_spots, 'spot', 'spots') %>, 
<%= number_to_percentage(@available_spots, precision: 1) %> are available
</p>

<a class="btn btn-default" href="<%= new_lot_spot_path(@lot) %>"> <i class="fa fa-map-marker"></i> Add spot </a>
<a class="btn btn-default" href="<%= edit_lot_path(@lot) %>"> <i class="fa fa-pencil-square-o"></i> Edit lot </a>

<h4 class="page-header">Spots</h4>

<div class="pull-right">
  <%= form_tag(lot_path, method: :get) do %>
  Show: 
    <%= select_tag('status', options_for_select(Spot::STATUS.merge('ALL' => 0), :selected => @show_status)) %>
  <% end %>
</div>

<% unless @spots.blank? %>
<table class="table table-striped table-vertical-aligned">
  <thead>
    <tr>
      <th width="100">Location</th>
      <th>Number</th>
      <th>Status</th>
      <th width="100">Options</th>
    </tr>
  </thead>
  <tbody>
  <% @spots.each do |spot| %>
    <tr>
      <td> 
        <a href="<%= edit_lot_spot_path(@lot, spot) %>">
          <img src="http://maps.googleapis.com/maps/api/staticmap?center=<%=spot.latitude%>,<%=spot.longitude %>&zoom=20&size=100x100&sensor=false&scale=2&maptype=satellite&markers=<%=spot.latitude%>,<%=spot.longitude %>&key=AIzaSyAhUlKrO2zd_LVj1HCRhlIlyiFn7Cj_C0Q" width="100" height="100">
        </a>
      </td>
      <td> <%= spot.number %> </td>
      <td> <%= spot.status %> </td>
      <td> 
        <a class="btn btn-default" href="<%= edit_lot_spot_path(@lot, spot) %>"> <i class="fa fa-pencil-square-o"></i> </a>
        <%= link_to lot_spot_path(@lot, spot), method: :delete, data: {confirm: "You sure?"}, class: "btn btn-danger"  do %>
          <i class="fa fa-trash-o"></i>
        <% end %>
      </td>
    </tr>  
  <% end %>
  </tbody>
</table>
<% else %>
  No spots found
<% end %>


<%= content_for :javascript do %>
  <script type="text/javascript">
    $('#status').change(function() {
      $(this).parent('form').submit();
    });
  </script>
<% end %>